# Bifrost Git Ignore File

# Local builds
releases/
*.tar.gz
*.zip

# Compiled Go binaries
bifrost
*.exe
*.out

# Dependency folders (optional, if you vendor later)
vendor/

# Editor/IDE specific
.vscode/
.idea/
*.swp
*.swo

# Logs, temp files
*.log
*.tmp

# OS junk files
.DS_Store
Thumbs.db
test.go
*.sh

# User config (don't commit user's personal settings)
bifrost.toml
